
/*Personal CSS Style Sheet for my website. Based off of retro.css from */
:root{
  --Metallic-Black: #1C1C1C;
  --Metallic-Blackout: #161616;
  --Steel-Blue: #0b141b;
  --Crimson-Red: #DC143C;
  --Crimson-Red-Dark: #8b0e27;
  --Silver-Accent: #C0C0C0;
}

pre,
code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
}

a,
a:visited {
  color: var(--Crimson-Red-Dark);
}

a:hover,
a:focus,
a:active {
  color: var(--Crimson-Red);
}

html {
  font-size: 12px;
}

header{
  margin-bottom: 10%;
  padding: 1rem;
  border-top: 3px solid var(--Metallic-Blackout);
  border-bottom: 3px solid var(--Crimson-Red);
  text-align: center;
  background-color: var(--Metallic-Blackout);
}

footer {
  margin-top: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 3px solid var(--Crimson-Red);
  text-align: center;
  background-color: var(--Metallic-Blackout);
}

p,
.retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  min-width: 20ch;
   max-width: 60ch;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.retro-h2 {
  font-size: 2.827rem;
}

h3,
.retro-h3 {
  font-size: 1.999rem;
}

h4,
.retro-h4 {
  font-size: 1.414rem;
}

h5,
.retro-h5 {
  font-size: 1.121rem;
}

h6,
.retro-h6 {
  font-size: .88rem;
}

small,
.retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.site-nav{
  text-decoration: none;
}

.home-nav{
  text-decoration: none;
}

.header-card{
  padding: 0rem .25rem;
  border-radius: .5rem;
  background-color: var(--Metallic-Black);
}

.header-card a{
  color: var(--Silver-Accent);
}
.header-card a.home-nav{
  color: var(--Crimson-Red);
}

.project-card{
  padding: .75rem 1rem;
  width: 500px;
  border-radius: .5rem;
  background-color: var(--Metallic-Blackout);
}
.project-card a{
  color: var(--Crimson-Red-Dark);
}

.project-type-header{
  color: var(--Crimson-Red);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.profile-picture {
    /* Sizing and Responsiveness */
    width: 500px;
    max-width: 100%; /* Prevents image from exceeding container width */
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;

    /* Appearance */
    border: 3px solid var(--Crimson-Red);
    border-radius: 50%; /* Rounded corners */
    padding: 5px;

    /* Centering */
    display: block;
    float: left;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px; /* Space between items */
}

.flex-container-select-projects {
    display: flex;
    flex-flow: row rap; /* Allows items to wrap to the next line */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between items */
}

.flex-container-row_nowrap {
    display: flex;
    flex-flow: row nowrap; /* Prevents items from wrapping to the next line */
    justify-content: flex-end;
    align-items: center;
    gap: 1rem; /* Space between items */
}

.flex-container-space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1rem; /* Space between items */
}


img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,

header { margin-bottom: 4rem; }
main   { margin: 0 auto; }
footer { margin-top: 4rem; }
body {
  color: var(--Silver-Accent);
  font-family: "Courier New";
  line-height: 1.45;
  padding: .48rem;
  background-color: var(--Metallic-Black);
  min-height: 100%;
  max-width: 100%;
}

html {
  font-size: 18px;
}


blockquote {
  border-left: 3px solid var(--Crimson-Red);
  padding-left: 1rem;
}