
/*Personal CSS Style Sheet for my website. Based off of retro.css from */
:root{
  --Metallic-Black: #1C1C1C;
  --Metallic-Blackout: #161616;
  --Steel-Blue: #0b141b;
  --Crimson-Red: #DC143C;
  --Crimson-Red-Dark: #8b0e27;
  --Silver-Accent: #C0C0C0;
}

pre,
code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

/*
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
*/

a,
a:visited {
  color: var(--Crimson-Red-Dark);
}

a:hover,
a:focus,
a:active {
  color: var(--Crimson-Red);
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: column;
  /*min-height: 100dvh;*/ /* Use 100vh as a fallback for older browsers */
  line-height: 1.85;

}

header{
  margin-bottom: 10%;
  padding: 1rem;
  border-top: 3px solid var(--Metallic-Blackout);
  border-bottom: 3px solid var(--Crimson-Red);
  text-align: center;
  background-color: var(--Metallic-Blackout);
}

main {
  /*flex-grow: 1;*/ /* This makes the main content take up all available space */
}

footer {
  margin-top: 10%;
  padding-top: 1rem;
  border-top: 3px solid var(--Crimson-Red);
  text-align: center;
  background-color: var(--Metallic-Blackout);
}

p,
.retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  min-width: 20ch;
   max-width: 60ch;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.retro-h2 {
  font-size: 2.827rem;
}

h3,
.retro-h3 {
  font-size: 1.999rem;
}

h4,
.retro-h4 {
  font-size: 1.414rem;
}

h5,
.retro-h5 {
  font-size: 1.121rem;
}

h6,
.retro-h6 {
  font-size: .88rem;
}

small,
.retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.profile-picture {
    /* Sizing and Responsiveness */
    max-width: 100%; /* Prevents image from exceeding container width */
    height: 500px;    /* Maintains aspect ratio */
    width: 500px;    /* Sets a base width */

    /* Appearance */
    border: 1px solid var(--Crimson-Red);
    border-radius: 50%; /* Rounded corners */
    padding: 5px;

    /* Centering */
    display: block;
    float: left;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap; /* Allows items to wrap to the next line */
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px; /* Space between items */
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,
body {
  color: var(--Silver-Accent);
  font-family: "Courier New";
  line-height: 1.45;
  margin: 6rem auto 1rem;
  padding: .48rem;
  background-color: var(--Metallic-Black);
  min-height: 100%;
  max-width: 100%;
}

html {
  font-size: 18px;
}

.textbox {
  width: 200px;
}

pre {
  background-color: var(--Metallic-Black);
}

blockquote {
  border-left: 3px solid var(--Crimson-Red);
  padding-left: 1rem;
}