---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="stylesheet" href="{{'assets/css/langis.css' | relative_url }}">
    
    <!--Model Viewer-->>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
  </head>

  <body>
    <header>
      <div class ="flex-container-space-between">
        <div>
          <img class = 'favicon-header' src="{{'assets/favicon/android-chrome-192x192.png' | relative_url}}" alt = "favicon">
          <!--<p>totem</p>-->
        </div>
        <div class ="flex-container-row_nowrap">
          <div class ="header-card">
            <a href="{{"/index" | relative_url}}" class ="home-nav"><h4>Home</h4></a>
          </div>
          <div class ="header-card">
            <a href="{{"assets/pdfs/Langston_Johnson_Resume_2026.pdf" | relative_url}}" download="Langston_Johnson_Resume_2026" class ="site-nav"><h4>Download My Resume</h4></a>
          </div>
          <div class ="header-card">
            <a href="{{"/about" | relative_url}}" class ="site-nav"><h4>About</h4></a>
          </div>
          <div class ="header-card">
            <a href="{{"/projects" | relative_url}}" class ="site-nav"><h4>Projects</h4></a>
          </div>
        </div>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class ="flex-container-space-between">
        <div>
          <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
          <p>
            <a href="{{"/about" | relative_url }}">About</a> |
            <a href="{{"/contact" | relative_url }}">Contact</a>
          </p>
        </div>
        <div class = "flex-container-row_nowrap">
            <a href="{{site.github}}" target="_blank">
              <img class = "icon-link" src = "{{'assets/Images/GitHub/GitHub_Invertocat_White_Clearspace.png' | relative_url}}" alt = "My Github">
            </a>
            <a href="{{site.linkedin}}" target="_blank">
              <img class = "icon-link" src = "{{'assets/Images/LinkedIn/InBug-White.png' | relative_url}}" alt = "My LinkedIn">
            </a>
        </div>
      </div>
    </footer>
  </body>
</html>